body {
    background-color: #eaeaea;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    transition: color .2s linear 0s;
}

.top-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.top-nav li {
    display: inline;
    padding: .1rem .5rem;
    border-right: 1px solid #fff;
}

.top-nav li:last-of-type {
    border-right: 0;
}

.top-nav li a {
    color: #e0e0e0;
    text-decoration: none;
}

.top-nav li a:hover, .top-nav li a:focus {
    color: #fff;
}

.site-logo {
    font-size: 2rem;
    line-height: 1;
    font-family: 'Righteous', cursive;
}

.site-logo img {
    width: 120px;
    height: 100px;
}

.site-logo a {
    color: #404040;
}

.site-logo a:hover, .site-logo a:focus {
    text-decoration: none;
    color: #000;
}

.header-item {
    padding: .25rem .4rem;
    cursor: pointer;
    color: #656565;
    transition: color .2s linear 0s;
    font-weight: bold;
    line-height: 2.5;
}

.header-item img {
    max-width: 220px;
    max-height: 55px;
}

.header-item-holder .header-item:hover, .header-item-holder  .header-item:focus {
    color: #000;
    text-decoration: none;
}

.nav-item {
    margin-right: 5px;
}

.nav-item:last-of-type {
    margin-right: 0;
}

.nav-item .nav-link {
    padding-top: .2rem;
    padding-bottom: .3rem;
}

.product-item {
    box-shadow: #ccc 0 0 10px 1px;
}

.product-item:hover {
    box-shadow: #aaa 0 0 10px 1px;
}

.product-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #656565;
}

.product-name.large {
    font-size: 21px;
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.product-name small {
    font-size: .85rem;
    display: block;
    width: 100%;
}

a.product-name:hover, a.product-name:focus {
    color: #000;
    text-decoration: none;
}

.product-price-old {
    text-decoration: line-through;
    color: #ccc;
    font-weight: 600;
    font-size: 18px;
}

.product-price {
    font-size: 24px;
    font-weight: 600;
}

.footer-logo {
    font-size: 1.65rem;
    font-family: 'Righteous', cursive;
}

.footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav li {
    margin-top: 10px;
}

.footer-logo a, .footer-nav a{
    color: #e0e0e0;
    text-decoration: none;
}

.footer-logo img {
    max-height: 40px;
}

.social-icon {
    color: #e0e0e0;
    font-size: 13px;
    margin-right: 10px;
}

.footer-logo a:hover, .footer-logo a:focus, .footer-nav a:hover, .footer-nav a:focus, .social-icon:hover, .social-icon:focus {
    color: #fff;
}

.message-holder {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    width: 400px;
    max-width: calc(100vw - 2rem);
    z-index: 1080;
}

.message-holder .alert {
    box-shadow: #707070 1px 2px 5px;
}

.product-item {
    position: relative;
    overflow: hidden;
}

.new {
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 5;
    background-color: rgba(233, 10, 10, .85);;
    color: #fff;
    padding: 3px 15px;
    width: 0;
    transition: all .3s ease-out 0s;
}

.product-item:hover .new {
    left: 0;
    width: auto;
}

.large-holder {
    border-right: 1px solid #c0c0c0;
}

.large-holder:last-of-type {
    border-right: 0;
}

.large-icon {
    font-size: 30px;
}

.large-text {
    font-size: 16px;
    line-height: 2.6;
}

.slider-img {
    width: 100%;
    height: auto;
}

.large-icon, .large-text {
    color: #6c6c6c;
}

.img-large {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-large:hover {
    background-size: 300%;
    cursor: zoom-in;
}

.img-small {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.detail-price {
    font-weight: bold;
    font-size: 2.6rem;
    color: #616161;
    display: block;
}

.detail-price-old {
    text-decoration: line-through;
    font-size: 1.6rem;
    font-weight: bold;
    color: #939393;
    display: block;
}

.sidebar {
    border-left-width: 1px !important;
    border-top-width: 0 !important;
}

.average-rating {
    font-weight: bold;
    font-size: 4.6rem;
}

.rating-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rating-list li {
    display: inline-block;
    width: 100%;
    height: 15px;
}

.rating-list .progress {
    width: 170px;
    height: 15px;
    border-radius: 0;
    margin-right: 10px;
    float: left;
    background-color: #cccccc;
}

.rating-list .progress .progress-bar {
    font-size: 10px;
    font-weight: bold;
}

.rating-list .rating-progress-label {
    line-height: 1;
    font-size: 14px;
    float: left;
}

.bg-gray {
    background-color: #e4e4e4;
}

.ratings {
    margin-top: 5px;
}

.ratings input {
    display: none;
}

.ratings label:before {
    font-family: "Font Awesome 5 Free", fantasy;
    content: '\f005';
    font-size: 20px;
    margin-right: 3px;
    cursor: pointer;
}

.ratings label:hover:before, .ratings label:hover ~ label:before, .ratings input:checked ~ label:before {
    font-weight: bold;
}

.pagination {
    font-size: 20px;
}

.pagination .page-link {
    background-color: transparent;
    border: 0;
    margin-right: 10px;
    color: #656565;
}

.pagination .page-link:hover, .pagination .page-link:focus {
    color: #000;
}

.pagination .page-item.disabled .page-link {
    background-color: transparent;
    color: #9fa9ab;
}

.pagination .page-item.active .page-link {
    background-color: #656565;
    color: #fff;
    font-size: 23px;
    line-height: 1;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    padding-left: 0;
    padding-right: 0;
}

table td, table th {
    vertical-align: middle !important;
}

table td img {
    max-height: 80px;
}

@media (max-width: 767.98px) {

    .sidebar {
        border-left-width: 0 !important;
        border-top-width: 1px !important;
    }

}


/*************Form**************************/
/*Icones Formulario*/
.iconInput { position: relative }
.iconInput input { padding-left: 28px }
.iconInput i { position: absolute; padding: 9px 10px }



/*********************************Cardapio***********************************************/
.item-cardapio
{
	box-shadow:5px 5px 7px 8px rgba(50, 50, 50, 0.77);
	border-radius: 8px;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
	padding: 20px;
}

.item-cardapio:hover
{
	box-shadow:4px 4px 9px 10px rgba(50, 50, 50, 0.77);
}


.info-cardapio img
{
	width: 120px;
	height: 80px;
}
.texto-cardapio h3,.texto-cardapio h6
{
	color: #DC3545;
}

.texto-cardapio h3
{
	font-size: 14pt;
}

.texto-cardapio p
{
	font-size: 10px;
	width: 100%;
	word-wrap: break-word;
	color: black;
}

.meuspedidos .dados p
{
	line-height: 10px;
}
.meuspedidos
{
	box-shadow:5px 5px 7px 8px rgba(50, 50, 50, 0.77);
	border-radius: 8px;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 2%;
	padding: 20px;

}

.img-inicio
{
    height: 160px;
    width: 310px;
}
.img-cat
{
    height: 130px;
    width: 200px;
}

.img-fav
{
    height: 100px;
    width: 160px;
}

.ff
{
    height: 100px;
    width: 150px;
}





